/* basic.css */

body {
    margin: 0;
    padding: 0;
    overflow: auto;
                background: rgba(255, 255, 255, 0.7) url('../images/w3.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: auto;
}

.main {
    z-index: 1;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ddd;
    padding: 20px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    text-align: center;
}

.navit {
    text-align: left;
    font-size: 2.2em;
    color: #c9302c;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
}

.navit {
    text-align: left;
    font-size: 2.2em;
    color: #c9302c;
    text-decoration: none;
}

nav {
    text-align: right;
    background-color: #ecf0f1;
    color: white;
    padding: 10px;
}

.navit {
    text-align: left;
    font-size: 2.2em;
    color: #c9302c;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: blue;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #6c757d;
}

section {
    padding: 20px;
}

.dashboard-section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a:hover {
    color: #4cae4c;
}

.w3-header-top-right {
    display: flex;
    justify-content: flex-end;
}

.email-right,
.w3-header-top-right-text {
    margin-right: 20px;
}

.logo img {
    width: 7%;
    border-radius: 50%;
}

.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}
